@model Playground.Mvc.Controllers.CompellingExample1Model
@using Newtonsoft.Json


@{
    ViewBag.Title = "CompellingExample1";
}

<link href="@Url.Content("~/Content/toastr.min.css")" rel="stylesheet" type="text/css" />

<h2>CompellingExample1</h2>

<br />

<style>
    ul {
        list-style: none;
        margin-bottom: 10px;
    }

    label {
        display: block;
        padding: 5px 10px;
    }

        label:first-child {
        }

        label:nth-child(n+2) {
            margin-left: 1em;
        }

    input[type="checkbox"] {
        transform: scale(1.5);
        -webkit-transform: scale(1.5);
    }

    .arrow-buttons {
        width: 100%;
        margin-bottom: 5px;
        float: left;
    }

    .multiSelectStyles {
        overflow-x: scroll;
        font-family: Courier;
        font-size: 12px;
        font-weight: bold;
    }

    option {
        float: left;
        min-width: 100%;
    }

    .row {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }

        .row > [class*='col-'] {
            display: flex;
            flex-direction: column;
        }
</style>


<div class="row">
    <div class="col-md-12">
        <fieldset>
            <legend>Select Source Id</legend>
            <div class="row">
                <div class="col-md-2 form-group" style="width: 100%">
                    Source:
                    <select data-bind="options: filteredSourceIdList, value: selectedSourceId, optionsCaption: 'Choose...'" style="width:200px;"></select>
                    <br />
                    <input id="filter" placeholder="filter src Ids..." type="text" style="width:200px;" data-bind="textInput: sourceIdfilter" />
                </div>

                <div class="col-md-2 form-group" style="width: 100%">
                    Target(s):
                    <select multiple data-bind="options: targetIds, selectedOptions: selectedTargetIds" class="form-control multiSelectStyles" style="width: 150px; height: 150px; padding: 2px; width: 100%;"></select>
                </div>

                <div class="col-md-1">
                    <div class="row">
                        <div class="col-xs-12 mt-5 btn-block ml-2 mr-2 btn-block">
                            <input type='button' value='>' class="btn btn-sm btn-primary btn-block" data-bind="click: moveSelectedToTarget" title="Move selected one to selected target" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 mt-4 btn-block btn-block ml-2 mr-2">
                            <input type='button' value='>>' class="btn btn-sm btn-primary btn-block" data-bind="click: moveAllToTarget" title="Move all to selected target" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 mt-4 btn-block btn-block ml-2 mr-2">
                            <input type='button' value='<' class="btn btn-sm btn-primary btn-block" data-bind="click: moveSelectedToSource" title="Move selected one back to source" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 mt-6 ml-2 mr-2 btn-block">
                            <input type='button' value='<<' class="btn btn-sm btn-primary btn-block" data-bind="click: moveAllToSource" title="Move all selected targets back to source" />
                        </div>
                    </div>
                </div>

                <div class="col-md-2 form-group" style="width:100%;">
                    Selected Target(s):
                    <select multiple data-bind="options: targetIds2, selectedOptions: selectedTargetIds2"  class="form-control multiSelectStyles" style="height:150px;padding:2px;width:100%;"></select>
                </div>

                <div class="col-md-1 form-group" style="width:50%;">
                    <div class="row">
                        <div class="col-sm-12 btn-block mt-5 ml-2 mr-2">
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <button type="button" class="btn btn-primary btn-sm ml-2" style="width:50%;" data-bind="click: GetRouteOperToCopy" title="Get operation(s) to replace">OK</button>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</div>

<div class="row" data-bind="visible: displaySelectOperDiv()">
    <div class="col-md-6">
        <fieldset>
            <legend>Select which data to replace:</legend>
            <div class="row">
                <div data-bind="foreach: commonRouteOpers ">
                    <ul data-bind="foreach: TargetRouteOper">
                        <li class="child">
                            <input type="checkbox" name="level-1"
                                   data-bind="checked: IsSelected, click: $root.onSelectRoute($data)" />
                            <span data-bind="text: RouteAndTargetId, style: {'font-weight': 'bold', 'font-size': '14px'}"></span>
                            <ul data-bind="foreach: Operations ">
                                <li class="child">
                                    <input type="checkbox" name="level-2"
                                           data-bind="checked: IsSelected, click: $root.selectOper($parent.Route(), $parent.TargetId())" />
                                    <span data-bind="text: Operation"></span>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-md-9"></div>
                <div class="col-md-3">
                    <button class="btn btn-primary" data-bind="click: CopySelectedOpers" title="Replace selected operations">Submit</button>
                </div>
            </div>
        </fieldset>
    </div>

    <div class="col-md-6">
        <fieldset>
            <legend>Re-loadable jqGrid with different data:</legend>
            <table id="list"></table>
            <br />
        </fieldset>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/knockout/js")
    <script src="@Url.Content("~/Scripts/knockout.mapping-latest.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/toastr.min.js")" type="text/javascript"></script>

<script type="text/javascript">
            @{
        var json = JsonConvert.SerializeObject(Model);
    }

    @Html.Raw("var model = " + json)

        var viewModel = new CompellingExampleViewModel({
            ids: model.Ids
    });

    $(document).ready(function () {
        viewModel.initialize();
    });

    function CompellingExampleViewModel(args) {

        var self = this;

        // properties
        self.sourceIds = ko.observableArray(args.ids);
        self.selectedSourceId = ko.observable();
        self.targetIds = ko.observableArray([]);
        self.selectedTargetIds = ko.observableArray([]);
        self.isInitialized = ko.observable(false);
        self.displaySelectOperDiv = ko.observable(false);
        self.commonRouteOpers = ko.observableArray([]);
        self.sourceIdfilter = ko.observable();
        self.targetIds2 = ko.observableArray([]);
        self.selectedTargetIds2 = ko.observableArray([]);

        self.filteredSourceIdList = ko.computed(function () {
            var name = self.sourceIdfilter();
            if (!name || name == "None") {

                return self.sourceIds();
            } else {
                return ko.utils.arrayFilter(self.sourceIds(), function (i) {
                    return i.toString().toLowerCase().indexOf(name.toLowerCase()) !== -1;
                });
            }
        });

        self.selectOper = function (route, id) {

            if (self.displaySelectOperDiv()) {
                var totalOperCount = 0;
                var selectedOperCount = 0;
                for (var i = 0; i < self.commonRouteOpers().TargetRouteOper().length; i++) {
                    var item = self.commonRouteOpers().TargetRouteOper()[i];
                    if (item.Route() === route && item.TargetId() === id) {
                        totalOperCount = item.Operations().length;
                        for (var j = 0; j < totalOperCount; j++) {
                            if (item.Operations()[j].IsSelected()) {
                                selectedOperCount++;
                            }
                        }
                        break;
                    }
                }

                if (totalOperCount === selectedOperCount) {
                    //Check parent Route Check Box to true
                    for (var i = 0; i < self.commonRouteOpers().TargetRouteOper().length; i++) {
                        var item = self.commonRouteOpers().TargetRouteOper()[i];
                        if (item.Route() === route && item.TargetId() === id) {
                            item.IsSelected(true);
                            break;
                        }
                    }
                } else {
                    //Check parent Route Check Box to false
                    for (var i = 0; i < self.commonRouteOpers().TargetRouteOper().length; i++) {
                        var item = self.commonRouteOpers().TargetRouteOper()[i];
                        if (item.Route() === route && item.TargetId() === id) {
                            item.IsSelected(false);
                            break;
                        }
                    }
                }
            }
        }

        self.onSelectRoute = function (data) {
            if (self.displaySelectOperDiv()) {
                for (var i = 0; i < self.commonRouteOpers().TargetRouteOper().length; i++) {
                    var routeItem = self.commonRouteOpers().TargetRouteOper()[i];
                    if (routeItem.Route() === data.Route() && routeItem.TargetId() === data.TargetId()) {
                        if (routeItem.IsSelected()) {
                            for (var j = 0; j < routeItem.Operations().length; j++) {
                                routeItem.Operations()[j].IsSelected(true);
                            }
                        } else {
                            for (var j = 0; j < routeItem.Operations().length; j++) {
                                routeItem.Operations()[j].IsSelected(false);
                            }
                        }
                    }
                }
            }
        }

        self.moveAllToTarget = function () {
            if (self.targetIds().length === 0) {
                toastr["error"]("Nothing to move!", 'Error');
                return false;
            }

            for (var i = 0; i < self.targetIds().length; i++) {
                self.targetIds2.push(self.targetIds()[i]);
                self.selectedTargetIds2.push(self.targetIds()[i]);
            }

            self.targetIds([]);
            self.selectedTargetIds([]);
        }

        self.moveAllToSource = function () {
            if (self.targetIds2().length === 0) {
                toastr["error"]("Nothing to move!", 'Error');
                return false;
            }

            for (var i = 0; i < self.targetIds2().length; i++) {
                self.targetIds.push(self.targetIds2()[i]);
            }

            self.targetIds2([]);
            self.selectedTargetIds2([]);
        }

        self.moveSelectedToTarget = function () {
            if (self.targetIds().length === 0) {
                toastr["error"]("Nothing to move!", 'Error');
                return false;
            }

            if (self.selectedTargetIds() === undefined || self.selectedTargetIds().length === 0) {
                toastr["error"]("Please select a SWR and try again.", 'Error');
                return false;
            }

            //add to selections
            for (var i = 0; i < self.selectedTargetIds().length; i++) {
                var swrId = self.selectedTargetIds()[i];
                for (var j = 0; j < self.targetIds().length; j++) {
                    var currSwrId = self.targetIds()[j];
                    if (currSwrId === swrId) {
                        self.targetIds2.push(self.targetIds()[j]);
                        self.selectedTargetIds2.push(self.targetIds()[j]);
                        break;
                    }
                }
            }

            //remove
            for (var i = 0; i < self.selectedTargetIds2().length; i++) {
                var swrId = self.selectedTargetIds2()[i];
                for (var j = 0; j < self.targetIds().length; j++) {
                    var currSwrId = self.targetIds()[j];
                    if (currSwrId === swrId) {
                        self.targetIds.remove(self.targetIds()[j]);
                        break;
                    }
                }
            }

            //empty out selections
            self.selectedTargetIds([]);
        }

        self.moveSelectedToSource = function () {
            if (self.targetIds2().length === 0) {
                toastr["error"]("Nothing to move!", 'Error');
                return false;
            }

            if (self.selectedTargetIds2() === undefined || self.selectedTargetIds2().length === 0) {
                toastr["error"]("Please select a SWR and try again.", 'Error');
                return false;
            }

            //add to selections
            for (var i = 0; i < self.selectedTargetIds2().length; i++) {
                var swrId = self.selectedTargetIds2()[i];
                for (var j = 0; j < self.targetIds2().length; j++) {
                    var currSwrId = self.targetIds2()[j];
                    if (currSwrId === swrId) {
                        self.targetIds.push(self.targetIds2()[j]);
                        self.selectedTargetIds.push(swrId);
                        break;
                    }
                }
            }

            //remove
            for (var i = self.selectedTargetIds2().length - 1; i >= 0; i--) {
                var swrId = self.selectedTargetIds2()[i];
                for (var j = 0; j < self.targetIds2().length; j++) {
                    var currSwrId = self.targetIds2()[j];
                    if (currSwrId === swrId) {
                        self.targetIds2.remove(self.targetIds2()[j]);
                        break;
                    }
                }
            }

            //empty out selections
            self.selectedTargetIds2([]);
        }

        self.selectedSourceId.subscribe(function (newValue) {
            if (newValue) {

                self.resetForm();

                $.ajax({
                    url: '@Url.Action("GetTargetIds", "KnockoutStuff")',
                    cache: false,
                    dataType: "json",
                    type: "POST",
                    traditional: true,
                    contentType: 'application/json',
                    data: JSON.stringify({ sourceId: newValue }),
                    success: function (data) {
                        if (data.success) {
                            self.targetIds(ko.mapping.fromJS(data.targetIds.Ids)());
                        } else {
                            toastr["error"](data.message, 'Error');
                        }
                    },
                    error: function (response) {
                        toastr["error"](response, 'Error');
                    }
                });

            }
        });

        self.GetRouteOperToCopy = function () {

            if (self.selectedSourceId() === undefined || self.selectedSourceId().length === 0) {
                toastr["error"]("You must select Source Id", 'Error');
                return false;
            }

            if (self.selectedTargetIds2() === undefined || self.selectedTargetIds2().length === 0) {
                toastr["error"]("You must select at least one Target Id", 'Error');
                return false;
            }

            var targetIds = self.selectedTargetIds2();

            $.ajax({
                url: '@Url.Action("GetRouteOpersToCopy", "KnockoutStuff")',
                cache: false,
                dataType: "json",
                type: "POST",
                traditional: true,
                contentType: 'application/json',
                data: JSON.stringify({ sourceId: self.selectedSourceId(), targetIds: targetIds}),
                success: function (data) {
                    if (data.success) {
                        if (data.commonRouteOpers.FoundCommonOperations) {
                            var x = ko.mapping.fromJS(data.commonRouteOpers);
                            self.commonRouteOpers(ko.mapping.fromJS(data.commonRouteOpers));
                            if (self.commonRouteOpers().TargetRouteOper().length > 0) {
                                self.displaySelectOperDiv(true);
                            }
                        } else {
                            toastr["error"]("No common Route/Oper found for the selected target Ids.", 'Error');
                        }
                    } else {
                        toastr["error"](data.message, 'Error');
                    }
                },
                error: function (response) {
                    toastr["error"](response, 'Error');
                }
            });
        }

        self.CopySelectedOpers = function () {
            //validate
            var selectedOpers = [];
            for (var i = 0; i < self.commonRouteOpers().TargetRouteOper().length; i++) {
                var oper = self.commonRouteOpers().TargetRouteOper()[i];
                for (var j = 0; j < oper.Operations().length; j++) {
                    var item = oper.Operations()[j];
                    if (item.IsSelected()) {
                        selectedOpers.push(item.Operation());
                    }
                }
            }

            if (selectedOpers.length === 0) {
                toastr["error"]("Please select at least one Operation and try again!", 'Error');
                return false;
            }

            var result = ko.mapping.toJS(self.commonRouteOpers());

            $.ajax({
                url: '@Url.Action("CopySelectedOperations", "KnockoutStuff")',
                cache: false,
                dataType: "json",
                type: "POST",
                traditional: true,
                contentType: 'application/json',
                data: JSON.stringify(result),
                success: function (data) {
                    if (data.success) {
                        self.commonRouteOpers(undefined);
                        self.selectedTargetIds([]);
                        self.selectedSourceId(undefined);
                        self.selectedTargetIds2([]);
                        self.targetIds2([]);

                        toastr["info"]("Success!.", 'Info');

                        self.resetForm();

                    } else {
                        toastr["error"](data.message, 'Error');
                    }
                },
                error: function (response) {
                    toastr["error"](response, 'Error');
                }
            });
        }

        self.resetForm = function () {
            
            self.targetIds([]); //reset target
            self.selectedTargetIds([]); //Reset selections as well
            self.selectedTargetIds2([]);
            self.targetIds2([]);
            self.sourceIdfilter("");
            self.displaySelectOperDiv(false);
        };

        self.initialize = function () {

            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": false,
                "positionClass": "toast-top-center",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };

            ko.applyBindings(self);

            self.isInitialized(true);
        }
    }

</script>
}