@model Playground.Mvc.Models.ManageXyzEmployeeModel
@using Newtonsoft.Json

@{
    ViewBag.Title = "Manage Employees using Knockout JS";
}

<link href="@Url.Content("~/Content/toastr.min.css")" rel="stylesheet" type="text/css" />

<h2>Manage Employees</h2>
<hr />

<div class="row">
    <div class="col-sm-6">
        <button class="btn btn-primary" data-bind="click: function() { addNewEmployee() }">Add New Employee</button>
    </div>
    <div class="col-sm-6 text-right">
        <button class="btn btn-primary" data-bind="click: function() { ShowAddWorkHistoryDialog() }, enable: selectedEmployee()">Add New WorkHistory</button>
    </div>
</div>

<div class="row" id="empInfoDiv">
    <div class="col-sm-5">
        <table class="table" style="width:100%;" id="empInfoTable">
            <thead class="bg-light">
                <tr>
                    <td>Name</td>
                    <td>Email</td>
                    <td>Gender</td>
                    <td>Delete</td>
                </tr>
            </thead>
            <tbody id="empInfo-tbody" data-bind="foreach: activeEmployees">
                <tr class="emp-info-row" data-bind="click: $root.selectEmployee, css: {selected: $root.selectedEmployee() == $data}">
                    <td><a href="#" class="emp-info-link" data-bind="text: employeeName, click: function() {$parent.selectEmployee($data)}"></a></td>
                    <td data-bind="text: email"></td>
                    <td data-bind="text: gender"></td>
                    <td>
                        <a href="#" class="delete" data-bind="click: function () { $parent.deleteEmployee(employeeId()) }"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-7" id="workHistory" data-bind="visible: selectedEmployee()">
        <table class="table" style="width:100%;" id="empWorkHistoryTable">
            <thead>
                <tr>
                    <th>Company</th>
                    <th>Title</th>
                    <th>Status</th>
                    <th>Salary</th>
                    <th class="text-center">Move</th>
                    <th class="text-center">Delete</th>
                </tr>
            </thead>
            <tbody id="work-history-tbody" data-bind="foreach: activeWorkHistory">
                <tr class="work-history-row" data-bind="css: {'last-moved-row': moved, 'fade-out': fadeOut}">
                    <td><a href="#" class="work-history-link" data-bind="text: company, click: function() { $parent.selectWorkHistory($data, true) }"></a></td>
                    <td data-bind="text: title"></td>
                    <td data-bind="text: status"></td>
                    <td data-bind="text: salary"></td>
                    <td class="move-arrows">
                        <a href="#" data-bind="click: function() { $parent.moveWorkHistoryUp($data)}"><i class="fa fa-arrow-up"></i></a> |
                        <a href="#" data-bind="click: function() { $parent.moveWorkHistoryDown($data)}"><i class="fa fa-arrow-down"></i></a>
                    </td>
                    <td class="delete">
                        <a href="#" data-bind="click: function(){$parent.deleteWorkHistory($data)}"><i class="fa fa-trash-o"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<br />
<br />
<div class="row">
    <div class="col-sm-6">
    </div>
    <div class="col-sm-6 text-right">
        <button class="btn btn-primary main-button" id="btn-submit" data-bind="click: function() { submitIfChanged(event) }">No Changes...</button>
        <button class="btn btn-secondary main-button-right-edge" data-bind="click: function(){cancelClicked(event)}">Cancel</button>
    </div>
</div>

<style>

    .delete, delete a {
        color: #d32525;
        text-align: center;
    }

        .delete:hover, .delete a :hover {
            color: red;
        }

    .emp-info-row, .work-history-row {
        background: #fff;
    }

        .emp-info-row:hover {
            background: #ddd;
        }

        .emp-info-row.selected, .emp-info-row.selected:hover {
            background: #ff0;
        }

    .emp-info-link, work-history-link {
        text-decoration: none;
        color: #d32525;
    }

    .work-history-row.last-moved-row, .emp-info-row.last-moved-row {
        background: rgba(0, 0, 255, 0.2);
    }

        .work-history-row.last-moved-row.fade-out, .emp-info-row.last-moved-row.fade-out {
            background: rgba(255, 255, 255, 1);
            transition: background-color 2.5s ease;
        }

    .move-arrows {
        width: 75px;
        text-align: right;
    }

        .move-arrows a {
            text-decoration: none;
        }

            .move-arrows a:hover {
                text-decoration: none;
                color: rgba(0, 0, 255, 1.0);
            }
</style>

<div id="add-new-employee-dialog" class="modal" tabindex="1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add new Employee</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row mt-1">
                    <div class="col-sm-2 text-right">Name:</div>
                    <div class="col-sm-4">
                        <input type="text" data-bind="value: employeeName" />
                    </div>
                    <div class="col-sm-2 text-right">Company:</div>
                    <div class="col-sm-4">
                        <input type="text" data-bind="value: companyName" />
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-sm-2 text-right">Email:</div>
                    <div class="col-sm-4">
                        <input type="text" data-bind="value: email" />
                    </div>
                    <div class="col-sm-2 text-right">Gender:</div>
                    <div class="col-sm-4">
                        <input type="radio" name="gender" value="F" data-bind="checked: gender" />&nbsp; Female &nbsp;&nbsp;
                        <input type="radio" name="gender" value="M" data-bind="checked: gender" />&nbsp; Male &nbsp;&nbsp;
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-sm-2 text-right">Title:</div>
                    <div class="col-sm-4">
                        <select data-bind="options: titles, value: title, optionsCaption: 'Choose Title...'"></select>
                    </div>
                    <div class="col-sm-2 text-right">Salary:</div>
                    <div class="col-sm-4">
                        <input type="number" data-bind="value: salary" />
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="save-new-emp" data-bind="click: saveNewEmployee">Add</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancle</button>
            </div>

        </div>
    </div>
</div>

<div id="add-work-history-dialog" class="modal" tabindex="1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Employee Work History</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row mt-1">
                    <div class="col-sm-2 text-right"><b>Company:</b></div>
                    <div class="col-sm-4">
                        <input type="text" data-bind="value: companyName" />
                    </div>
                    <div class="col-sm-2 text-right"><b>Title:</b></div>
                    <div class="col-sm-4">
                        <select data-bind="options: titles, value: title, optionsCaption: 'Choose Title...'"></select>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-sm-2 text-right"><b>Salary:</b></div>
                    <div class="col-sm-4">
                        <input type="number" data-bind="value: salary" />
                    </div>
                    <div class="col-sm-2 text-right"><b>Hire Date:</b></div>
                    <div class="col-sm-4">
                        <input type="date" id="hire-date-field" name="hireDate" data-bind="datepicker: hireDate" />
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-sm-2 text-right"><b>Skills:</b></div>
                    <div class="col-sm-10">
                        <br />
                        <select multiple style="width: 100px;" size=5
                                data-bind="options: skills,
                                selectedOptions: selectedSkills">
                        </select>
                        <br />
                        <input type="checkbox" data-bind="checked: addWrkHistSelectAllSkills" /> Select All Skills
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-sm-2 text-right"><b>Hobbies</b></div>
                    <div class="col-sm-10">
                        <div class="col-sm-10">
                            <input type="checkbox" id="add-wrk-hist-hobbies" data-bind="checked: selectAllHobbies" /> <label for="add-wrk-hist-hobbies">Select All Hobbies</label>
                        </div>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-sm-2 text-right">
                    </div>
                    <div class="col-sm-10" data-bind="foreach: hobbies">
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="checkbox" data-bind="attr: { id: $data }, checkedValue: $data, checked: $parent.selectedHobbies" />
                        <label data-bind="attr: { for: $data }, text: $data"></label>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-sm-2 text-right"><b>Status:</b></div>
                    <div class="col-sm-10">
                        <select data-bind="options: statusList, value: selectedStatus, optionsCaption: 'Choose Status...'"></select>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="save-new-work-history" data-bind="click: saveNewWorkHistory">Save</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancle</button>
            </div>

        </div>
    </div>
</div>

<div id="edit-work-history-dialog" class="modal" tabindex="1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Employee Work History</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row mt-1">
                    <div class="col-sm-2 text-right"><b>Company:</b></div>
                    <div class="col-sm-4">
                        <input type="text" data-bind="value: companyName" />
                    </div>
                    <div class="col-sm-2 text-right"><b>Title:</b></div>
                    <div class="col-sm-4">
                        <select data-bind="options: titles, value: title, optionsCaption: 'Choose Title...'"></select>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-sm-2 text-right"><b>Salary:</b></div>
                    <div class="col-sm-4">
                        <input type="number" data-bind="value: salary" />
                    </div>
                    <div class="col-sm-2 text-right"><b>Hire Date:</b></div>
                    <div class="col-sm-4">
                        <input type="date" id="edit-hire-date-field" name="hireDate" data-bind="datepicker: hireDate" />
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-sm-2 text-right"><b>Skills:</b></div>
                    <div class="col-sm-10">
                        <br />
                        <select multiple style="width: 100px;" size=5
                                data-bind="options: skills,
                                selectedOptions: selectedSkills">
                        </select>
                        <br />
                        <input type="checkbox" data-bind="checked: addWrkHistSelectAllSkills" /> Select All Skills
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-sm-2 text-right"><b>Hobbies</b></div>
                    <div class="col-sm-10">
                        <div class="col-sm-10">
                            <input type="checkbox" id="add-wrk-hist-hobbies" data-bind="checked: selectAllHobbies" /> <label for="add-wrk-hist-hobbies">Select All Hobbies</label>
                        </div>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-sm-2 text-right">
                    </div>
                    <div class="col-sm-10" data-bind="foreach: hobbies">
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="checkbox" data-bind="attr: { id: $data }, checkedValue: $data, checked: $parent.selectedHobbies" />
                        <label data-bind="attr: { for: $data }, text: $data"></label>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-sm-2 text-right"><b>Status:</b></div>
                    <div class="col-sm-10">
                        <select data-bind="options: statusList, value: selectedStatus, optionsCaption: 'Choose Status...'"></select>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-sm-2 text-right">
                        Image/Other Documentation:
                    </div>
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-sm-12">
                                <input type="file" id="image-or-documentation" style="width: 500px;" data-bind="event: {change: function() {uploadDocumentation($element.files[0])}}" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-1" data-bind="visible: fileName()">
                    <div class="col-sm-2 text-right"></div>
                    <div class="col-sm-10">
                        <a href="#" data-bind="click: displayFile"><span data-bind="text: fileName()"></span></a>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="update-work-history" data-bind="click: updateWorkHistory">Save</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancle</button>
            </div>

        </div>
    </div>
</div>

@section Scripts {

    @*@Scripts.Render("~/bundles/jqueryui")*@
    @Scripts.Render("~/bundles/knockout/js")
    <script src="@Url.Content("~/Scripts/toastr.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/moment.min.js")" type="text/javascript"></script>
    <script type="text/javascript">

        @{
            foreach(var item in Model.Employees)
            {
                item.ReplaceNullsWithEmptyStrings();
            }

            var json = JsonConvert.SerializeObject(Model);
        }

        @Html.Raw("var model = " + json)
        @Html.Raw("var originalModel = " + json)

        // #region custom date-picker event handler
        ko.bindingHandlers.datePicker = {
            init: function (element, valueAccessor, allBindingsAccessor, viewModel) {
                // Register change callbacks to update the model
                // if the control changes.
                ko.utils.registerEventHandler(element, "change", function () {
                    var value = valueAccessor();
                    value(new Date(element.value));
                });
            },
            // Update the control whenever the view model changes
            update: function (element, valueAccessor, allBindingsAccessor, viewModel) {
                var value = valueAccessor();
                element.value = value().toISOString();
            }
        };
        // #endregion

        var viewModel = new ManageEmployeesViewModel({ model: model });

        $(document).ready(function () {
            viewModel.initialize();
        });

        function ManageEmployeesViewModel(args) {

            var self = this;
            self.model = { employeeInfo: ko.observableArray() };
            self.originalModel = { employeeInfo: ko.observableArray() };

            self.isInitialized = ko.observable(false);
            self.submitBtn = $('#btn-submit');

            self.selectedEmployee = ko.observable();
            self.selectedWorkHistory = ko.observable();

            //make selection
            self.selectEmployee = function (data) {
                self.selectedEmployee(data);
            };

            self.activeEmployees = ko.computed(function () {
                if (self.isInitialized()) {
                    return ko.utils.arrayFilter(self.model.employeeInfo(), function (x) {
                        return !x.isDeleted();
                    });
                } else {
                    return [];
                }
            });

            self.activeWorkHistory = ko.computed(function () {
                if (self.selectedEmployee() && self.isInitialized()) {
                    return ko.utils.arrayFilter(self.selectedEmployee().workHistory(), function (x) {
                        return !x.isDeleted();
                    }).sort(function (x, y) {
                        return x.displaySeq() < y.displaySeq() ? -1
                            : x.displaySeq() > y.displaySeq() ? 1
                                : 0;
                    });
                } else {
                    return [];
                }
            });

            //select work-History of a selected employee
            self.selectWorkHistory = function (workHistory, showEditDialog) {
                console.log(workHistory.employeeId() + '/' + workHistory.company() + ' was clicked');
                self.selectedWorkHistory(workHistory);

                if (showEditDialog) {

                    //TODO: check for changes and prompt to save!
                    self.editWorkHistory(workHistory);
                }
            }

            self.moveWorkHistoryUp = function (workHistory) {

                var result = self.findWorkHistory(self.selectedEmployee(), workHistory.company());
                var i = result.index;

                if (i > 0) {

                    var wrkHistToSwap = self.selectedEmployee().workHistory()[i - 1];

                    self.selectedEmployee().workHistory()[i - 1] = workHistory;
                    self.selectedEmployee().workHistory()[i] = wrkHistToSwap;

                    var temp = workHistory.displaySeq();
                    workHistory.displaySeq(wrkHistToSwap.displaySeq());
                    workHistory.isModified(true);

                    wrkHistToSwap.displaySeq(temp);
                    wrkHistToSwap.isModified(true);

                    self.selectedEmployee().isModified(true);

                    self.indicateLastMovedRow(workHistory, self.selectedEmployee().employeeName());

                    self.updateSubmitButton(self.submitBtn, ko.toJSON(self.model.employeeInfo), ko.toJSON(self.originalModel.employeeInfo));
                }
            }

            self.moveWorkHistoryDown = function (workHistory) {

                var result = self.findWorkHistory(self.selectedEmployee(), workHistory.company());
                var i = result.index;

                if (i < self.selectedEmployee().workHistory().length - 1) {

                    var wrkHistToSwap = self.selectedEmployee().workHistory()[i + 1];

                    self.selectedEmployee().workHistory()[i + 1] = workHistory;
                    self.selectedEmployee().workHistory()[i] = wrkHistToSwap;

                    var temp = workHistory.displaySeq();
                    workHistory.displaySeq(wrkHistToSwap.displaySeq());
                    workHistory.isModified(true);

                    wrkHistToSwap.displaySeq(temp);
                    wrkHistToSwap.isModified(true);

                    self.selectedEmployee().isModified(true);

                    self.updateSubmitButton(self.submitBtn, ko.toJSON(self.model.employeeInfo), ko.toJSON(self.originalModel.employeeInfo));
                }
            }

            self.findWorkHistory = function (empInfo, company) {
                if (!empInfo) return null;
                for (var i = 0; i < empInfo.workHistory().length; i++) {
                    var wrkHist = empInfo.workHistory()[i];
                    if (wrkHist.company() === company) {
                        return { EmpInfo: empInfo, Company: company, index: i }
                    }
                }

                return {};
            }

            var lastMovedRowsContext = {};
            self.indicateLastMovedRow = function (lastMoved, empStr) {
                var ctxLabel = lastMoved.company ? lastMoved.company() : empStr + '_' + lastMoved.company();
                var r = lastMovedRowsContext[ctxLabel];
                if (r && r.__fadeOutLastMoved) {
                    clearTimeout(r.__fadeOutLastMoved);
                    r.__fadeOutLastMoved = null;
                    lastMoved.moved(false);
                    lastMoved.fadeOut(false);

                    if (r.__fadeOutLastMoved2) {
                        clearTimeout(r.__fadeOutLastMoved2);
                        lastMoved.moved(false);
                        lastMoved.fadeOut(false);
                        r.__fadeOutLastMoved2 = null;
                    }
                }

                lastMoved.moved(true);

                if (!r) {
                    r = lastMovedRowsContext[ctxLabel] = {};
                }

                r.__fadeOutLastMoved = setTimeout(function () {
                    lastMoved.fadeOut(true);
                    r.__fadeOutLastMoved2 = setTimeout(function () {
                        lastMoved.moved(false);
                        lastMoved.fadeOut(false);
                        r.__fadeOutLastMoved = null;
                        r.__fadeOutLastMoved2 = null;
                    }, 3000);
                }, 2000);
            }

            self.deleteWorkHistory = function (workHistory) {
                if (confirm('Are you sure to delete work history ' + workHistory.company() + '?')) {
                    workHistory.isDeleted(true);
                    self.selectedEmployee().isModified(true);
                    self.updateDisplaySequence(self.selectedEmployee());

                    self.updateSubmitButton(self.submitBtn, ko.toJSON(self.model.employeeInfo), ko.toJSON(self.originalModel.employeeInfo));
                }
            }

            //other properties
            self.titles = ko.observableArray([]);
            self.titles(["Supervisor", "Manager", "Developer", "DBA", "Tester"]);
            self.title = ko.observable();
            self.employeeName = ko.observable();
            self.companyName = ko.observable();
            self.email = ko.observable();
            self.gender = ko.observable();
            self.salary = ko.observable();
            self.hireDate = ko.observable(currentDate());
            self.skills = ko.observableArray([]);
            self.skills(["C#", ".NET", "PL/SQL", "Oracle", "HTML", "SQL Server", "Visual Studio", "Javascript", "jQuery", "KnockoutJS", "Angular", "WPF", "MVVM", "MVC"]);
            self.selectedSkills = ko.observableArray([]);
            self.hobbies = ko.observableArray([]);
            self.hobbies(["Music", "Crafting", "Movies", "Running", "Hiking", "Swimming", "Walking"]);
            self.selectedHobbies = ko.observableArray([]);
            self.selectAllHobbies = ko.observable(false);
            self.statusList = ko.observableArray([]);
            self.statusList(["Active", "Quit", "Terminated", "Retired"]);
            self.selectedStatus = ko.observable();
            self.fileName = ko.observable();
            self.selectedDocumentationFile = ko.observable();

            self.getBase64 = function (file, onSuccess) {
                var reader = new FileReader();
                reader.onload = function () {
                    onSuccess(reader.result);
                };
                reader.onerror = function (error) {
                    console.log("Error reading file: ", error);
                };

                reader.readAsDataURL(file);
            }

            self.uploadDocumentation = function (file) {
                self.getBase64(file, function (base64) {
                    var index = base64.indexOf(',') + 1;
                    base64 = base64.substr(index);
                    self.selectedDocumentationFile(base64);
                });
            }

            self.displayFile = function () {
                var wrkHistId = self.selectedWorkHistory().workHistoryId();
                var url = "@Html.Raw(Url.Action("GetFile", "KnockoutStuff", new { workHistoryId = "xyz" }))";
                url = url.replace("xyz", wrkHistId);
                window.open(url, "_blank");
            }

            // #region Add New Employee

            self.addNewEmployee = function () {
                //reset values
                self.title(undefined);
                self.employeeName(undefined);
                self.companyName(undefined);
                self.email(undefined);
                self.gender(undefined);
                self.salary(undefined);

                //display dialog to add new employee
                $('#save-new-emp').prop('disabled', false);
                $('#add-new-employee-dialog').modal('show');
            }

            self.saveNewEmployee = function () {
               //validate data and make ajax call to save new employee
                var errMsgs = [];

                if (self.employeeName() === undefined || self.employeeName() === "") {
                    errMsgs.push("Name is required!");
                }

                if (self.companyName() === undefined || self.companyName() === "") {
                    errMsgs.push("Company name is required!");
                }

                if (self.email() === undefined || self.email() === "") {
                    errMsgs.push("Email is required!");
                }

                if (self.gender() === undefined || self.gender() === "") {
                    errMsgs.push("Gender is required!");
                }

                if (self.salary() === undefined || self.salary() <= 0) {
                    errMsgs.push("Salary is required and it must be a positive number!");
                }

                if (self.title() === undefined || self.title() === "") {
                    errMsgs.push("Title is required!");
                }

                if (errMsgs.length > 0) {
                    var msg = "";
                    for (var i = 0; i < errMsgs.length; i++) {
                        msg += errMsgs[i] + "\n";
                    }
                    toastr["error"](msg, 'Error');
                    return false;
                }

                $('#save-new-emp').prop('disabled', true);
                //var dataToPost = ko.toJSON(self.model.employees);

                $.ajax({
                    url: '@Url.Action("SaveNewEmployee", "KnockoutStuff")',
                    cache: false,
                    traditional: true,
                    dataType: "json",
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify({ name: self.employeeName(), company: self.companyName(), email: self.email(), gender: self.gender(), salary: self.salary(), title: self.title()}),
                    success: function (data) {
                        if (data.isSucceed) {
                            toastr["info"]("Saved successfully", 'Info');
                            window.location.reload();
                        }
                        else {
                            toastr["error"](data.message, 'Error');
                            $('#save-new-emp').prop('disabled', false);
                        }
                    },
                    error: function (response) {
                        toastr["error"](response, 'Error');
                        $('#save-new-emp').prop('disabled', false);
                    }
                });

            }
            // #endregion

            // #region Add Work-History

            //select all skills check-box handler
            self.addWrkHistSelectAllSkills = ko.computed({
                read: function() {
                    if (self.skills()) {
                        return (self.skills().length > 0) && (self.skills().length === self.selectedSkills().length);
                    }
                },
                write: function(value) {
                    if (value) {
                        self.selectedSkills.removeAll();
                        for (var i = 0; i < self.skills().length; i++) {
                            var item = self.skills()[i];
                            self.skills.push(item);
                        }
                    } else {
                        self.selectedSkills.removeAll();
                    }
                },
                owner: self
            });

            //select all hobbies
            self.selectAllHobbies.subscribe(function (newValue) {
                var isChecked = newValue;
                if (isChecked) {
                    self.selectedHobbies([]);
                    var selectedHobbies = [];
                    for (var i = 0; i < self.hobbies().length; i++) {
                        var h = self.hobbies()[i];
                        self.selectedHobbies.push(h);
                    }
                } else {
                    self.selectedHobbies([]);
                }
            });

            self.ShowAddWorkHistoryDialog = function () {
                //reset all fields:
                self.companyName(undefined);
                self.hireDate(currentDate());
                self.selectedSkills([]);
                self.selectedSkills(["Oracle"]); // Pre-selecting "Oracle"
                self.selectedHobbies([]);
                self.selectedHobbies.push("Music"); //pre-selecting "Music"
                self.selectAllHobbies(false);
                self.selectedStatus(undefined);
                self.title(undefined);
                self.salary(undefined);
                $('#save-new-work-history').prop('disabled', false);
                $('#add-work-history-dialog').modal('show');
            }

            self.saveNewWorkHistory = function () {

                var errMsg = [];
                if (self.companyName() === null || self.companyName() === undefined) {
                    errMsg.push("Company is required!");
                }

                if (self.selectedStatus() === null || self.selectedStatus() === undefined) {
                    errMsg.push("Status is required!");
                }

                if (self.title() === null || self.title() === undefined) {
                    errMsg.push("Title is required!");
                }

                if (self.salary() === null || self.salary() === undefined) {
                    errMsg.push("Salary is required!");
                }

                if (errMsg.length > 0) {
                    var msg = "";
                    for (var i = 0; i < errMsg.length; i++) {
                        msg += errMsg[i] + "\n";
                    }
                    toastr["error"](msg, 'Error');
                    return false;
                }

                var formattedSkills = "";
                var formattedHobbies = "";
                var formattedDate = "";

                if (self.selectedSkills().length > 0) {
                    formattedSkills = self.selectedSkills().join(",");
                }

                if (self.selectedHobbies().length > 0) {
                    formattedHobbies = self.selectedHobbies().join(",");
                }

                var day = self.hireDate().getDate();
                var month = ("0" + (self.hireDate().getMonth() + 1)).slice(-2);
                var year = self.hireDate().getFullYear();
                formattedDate = month + "/" + day + "/" + year;


                $('#save-new-work-history').prop('disabled', true);

                $.ajax({
                    url: '@Url.Action("SaveWorkHistory", "KnockoutStuff")',
                    cache: false,
                    traditional: true,
                    dataType: "json",
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify({ empId: self.selectedEmployee().employeeId(), company: self.companyName(), title: self.title(), salary: self.salary(), skills: formattedSkills, hobbies: formattedHobbies, status: self.selectedStatus(), hireDate: formattedDate }),
                    success: function (data) {
                        if (data.isSucceed) {
                            toastr["info"]("Saved successfully", 'Info');
                            window.location.reload();
                        }
                        else {
                            toastr["error"](data.message, 'Error');
                            $('#save-new-work-history').prop('disabled', false);
                        }
                    },
                    error: function (response) {
                        toastr["error"](response, 'Error');
                        $('#save-new-work-history').prop('disabled', false);
                    }
                });
                return true;
            }

            // #endregion

            self.editWorkHistory = function (workHistory) {

                var wrkHistId = workHistory.workHistoryId();
                var empId = self.selectedEmployee().employeeId();
                self.selectedDocumentationFile(undefined);
                $('#image-or-documentation').val(null);
                $('#update-work-history').prop('disabled', false);

                $.ajax({
                    url: '@Url.Action("GetWorkHistoryDataToEdit", "KnockoutStuff")',
                    cache: false,
                    traditional: true,
                    dataType: "json",
                    type: 'GET',
                    //contentType: 'application/json; charset=utf-8',
                    data: { employeeId: empId, workHistoryId: wrkHistId },
                    success: function (data) {
                        if (data.isSucceed) {

                            self.companyName(data.Company);
                            self.title(data.Title);

                            //convert datetime object to date string.
                            var date = clientDateStringFromDate(data.HireDate);
                            self.hireDate(date);

                            //TODO: The hireDate is not binding properly to self.hireDate property

                            self.selectedStatus(data.Status)
                            self.salary(data.Salary);

                            //IMPORTANT!!!
                            //For collection use the following syntax
                            //self.statusList(ko.mapping.fromJS(data.StatusList));

                            self.selectedSkills([]);
                            if (data.Skills.length > 0) {
                                for (var i = 0; i < data.Skills.length; i++) {
                                    self.selectedSkills.push(data.Skills[i]);
                                }
                            }

                            self.selectedHobbies([]);
                            if (data.Hobbies.length > 0) {
                                for (var i = 0; i < data.Hobbies.length; i++) {
                                    self.selectedHobbies.push(data.Hobbies[i]);
                                }
                            }

                            self.fileName(undefined);
                            if (data.FileName.length > 0) {
                                self.fileName(data.FileName);
                            }

                            //Show the edit dialog!
                            $('#edit-work-history-dialog').modal('show');
                        }
                        else {
                            toastr["error"](data.message, 'Error');
                        }
                    },
                    error: function (response) {
                        toastr["error"](response, 'Error');
                    }
                });
            }

            self.updateWorkHistory = function () {

                var errMsg = [];
                if (self.companyName() === null || self.companyName() === undefined) {
                    errMsg.push("Company is required!");
                }

                if (self.selectedStatus() === null || self.selectedStatus() === undefined) {
                    errMsg.push("Status is required!");
                }

                if (self.title() === null || self.title() === undefined) {
                    errMsg.push("Title is required!");
                }

                if (self.salary() === null || self.salary() === undefined) {
                    errMsg.push("Salary is required!");
                }

                if (errMsg.length > 0) {
                    var msg = "";
                    for (var i = 0; i < errMsg.length; i++) {
                        msg += errMsg[i] + "\n";
                    }
                    toastr["error"](msg, 'Error');
                    return false;
                }

                var formattedSkills = "";
                var formattedHobbies = "";
                var formattedDate = "";
                var fileNameToPost = "";

                if (self.selectedSkills().length > 0) {
                    formattedSkills = self.selectedSkills().join(",");
                }

                if (self.selectedHobbies().length > 0) {
                    formattedHobbies = self.selectedHobbies().join(",");
                }
                var datePickerDate = $('#edit-hire-date-field').datepicker({ dateFormat: 'mm/dd/yyyy' }).val();
                formattedDate = clientDateStringFromDate(datePickerDate);

                //disable save button
                $('#update-work-history').prop('disabled', true);

                var xyzEmpModel = {};
                xyzEmpModel.EmployeeId = self.selectedEmployee().employeeId();
                xyzEmpModel.WorkHistoryId = self.selectedWorkHistory().workHistoryId();
                xyzEmpModel.Company = self.companyName();
                xyzEmpModel.Status =  self.selectedStatus();
                xyzEmpModel.Title = self.title();
                xyzEmpModel.Salary = self.salary();
                xyzEmpModel.Skills = formattedSkills;
                xyzEmpModel.Hobbies = formattedHobbies;
                xyzEmpModel.HireDate = formattedDate;
                xyzEmpModel.SelectedDocumentationFileData = self.selectedDocumentationFile(); // byte[]
                xyzEmpModel.FileName = fileNameToPost;

                //var dataToPost = {
                //    empId: self.selectedEmployee().employeeId(),
                //    wrkHistId: self.selectedWorkHistory().workHistoryId(),
                //    company: self.companyName(),
                //    status: self.selectedStatus(),
                //    title: self.title(),
                //    salary: self.salary(),
                //    skills: formattedSkills,
                //    hobbies: formattedHobbies,
                //    hireDate: formattedDate,
                //    selectedDocumentationFileData: self.selectedDocumentationFile(), // byte[]
                //    fileName: fileNameToPost
                //};

                $.ajax({
                    url: '@Url.Action("UpdateEmployeeWorkHistory", "KnockoutStuff")',
                    cache: false,
                    traditional: true,
                    dataType: "json",
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify({ model: xyzEmpModel}),
                    //data: JSON.stringify(dataToPost),
                    success: function (data) {
                        if (data.isSucceed) {
                            toastr["info"]("Success!", 'Info');
                            window.location.reload();
                        }
                        else {
                            toastr["error"](data.message, 'Error');
                            $('#update-work-history').prop('disabled', false);
                        }
                    },
                    error: function (response) {
                        toastr["error"](response, 'Error');
                        $('#update-work-history').prop('disabled', false);
                    }
                });

            }

            //Delete employee
            self.deleteEmployee = function (empId) {
                var empTodelete = ko.utils.arrayFirst(self.model.employeeInfo(), function (x) {
                    var id = x.employeeId();
                    if (id === empId) {
                        return x;
                    }
                });

                if (empTodelete) {
                    if (confirm('Are you sure to delete employee ' + empTodelete.employeeName() + '?')) {
                        empTodelete.isDeleted(true);
                        self.updateSubmitButton(self.submitBtn, ko.toJSON(self.model.employeeInfo), ko.toJSON(self.originalModel.employeeInfo));
                    }
                }
            }

            //Cancel all (redirect to jqGrid page)
            self.cancelClicked = function (event) {
                event.preventDefault();

                var changes = JSON.stringify(ko.toJS(model)) === JSON.stringify(ko.toJS(originalModel));

                if (changes) {
                    if (confirm('Your changes have not been saved. Are you sure to abandon changes?')) {
                        var link = '@Url.Action("Index", "KnockoutStuff")';
                        window.location.href = link;
                    }
                } else {
                    return false;
                }
            }

            self.updateDisplaySequence = function (employee) {
                var index = 1;
                for (var i = 0; i < employee.workHistory().length; i++) {
                    var wrkHist = employee.workHistory()[i];
                    if (!wrkHist.isDeleted()) {
                        if (wrkHist.displaySeq() !== index) {
                            wrkHist.displaySeq(index);
                            wrkHist.isModified(true);
                        }
                        index++;
                    }
                }
            }

            self.submitIfChanged = function (event) {
                event.preventDefault();

                toastr["info"]('Work in progress.', 'Info');
                return false;

                self.submitBtn.prop('disabled', true);

                @*var link = '@Url.Action("Index", "KnockoutJsEmployeeMgr")';
                var dataToPost = ko.toJSON(self.model.employees);

                $.ajax({
                    url: '@Url.Action("SaveEmployee", "KnockoutJsEmployeeMgr")',
                    cache: false,
                    traditional: true,
                    dataType: "json",
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    data: dataToPost,
                    success: function (data) {
                        if (data.success) {
                            window.location.reload();
                        }
                        else {
                            alert("error: " + data.msg);
                            self.submitBtn.prop('disabled', false);
                        }
                    },
                    error: function (response) {
                        alert("error: " + response.msg);
                        self.submitBtn.prop('disabled', false);
                    }
                });*@
            }

            //Enable/disable submit button
            self.updateSubmitButton = function (submitBtn, model, originalModel) {
                if (this.hasChanges(model, originalModel)) {
                    $(submitBtn).prop('disabled', false)
                        .text('Submit')
                        .removeClass('btn-outline-primary')
                        .addClass('btn-primary');
                } else {
                    $(submitBtn).prop('disabled', true)
                        .text('No Changes...')
                        .removeClass('btn-primary')
                        .addClass('btn-outline-primary');
                }
            }

            self.hasChanges = function (model, originalModel) {
                var changes = JSON.stringify(ko.toJS(model)) !== JSON.stringify(ko.toJS(originalModel));
                return changes;
            }

            self.initialize = function () {

                toastr.options = {
                    "closeButton": false,
                    "debug": false,
                    "newestOnTop": false,
                    "progressBar": false,
                    "positionClass": "toast-top-center",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "5000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                };

                var empInfo = [];
                for (var i = 0; i < args.model.Employees.length; i++) {
                    var emp = args.model.Employees[i];
                    empInfo.push(new BuildEmployeeInfo(emp.Id, emp.Name, emp.Company, emp.Email, emp.Gender, emp.WorkHistory));
                }
                self.model.employeeInfo(empInfo);

                var origModel = [];
                for (var i = 0; i < args.model.Employees.length; i++) {
                    var emp = args.model.Employees[i];
                    origModel.push(new BuildEmployeeInfo(emp.Id, emp.Name, emp.Company, emp.Email, emp.Gender, emp.workHistory));
                }
                self.originalModel.employeeInfo(origModel);

                ko.applyBindings(viewModel);
                self.isInitialized(true);
            }
        }

        function BuildEmployeeInfo(id, name, company, email, gender, wrkHist) {
            var self = this;

            self.employeeId = ko.observable(id);
            self.employeeName = ko.observable(name);
            self.company = ko.observable(company);
            self.email = ko.observable(email);
            self.gender = ko.observable(gender);
            self.workHistory = ko.observableArray([]);

            if (wrkHist) {
                var wrkHistArrays = [];
                for (var j = 0; j < wrkHist.length; j++) {
                    wrkHistArrays.push(new BuildWorkHistory(wrkHist[j]));
                }

                self.workHistory(wrkHistArrays);
            }

            self.isDeleted = ko.observable(false);
            self.isNew = ko.observable(false);
            self.isModified = ko.observable(false);
        }

        function BuildWorkHistory(workHistory) {
            var self = this;
            self.workHistoryId = ko.observable(workHistory.Id);
            self.employeeId = ko.observable(workHistory.EmployeeId);
            self.company = ko.observable(workHistory.CompanyName);
            self.title = ko.observable(workHistory.Title);
            self.displaySeq = ko.observable(workHistory.DisplaySequence);
            self.salary = ko.observable(workHistory.Salary);
            self.hireDate = ko.observable(workHistory.HireDate);
            self.isDeleted = ko.observable(false);
            self.isNew = ko.observable(false);
            self.isModified = ko.observable(false);
            self.moved = ko.observable(false);
            self.fadeOut = ko.observable(false);
        }

        /*Datetime with moment =>*/
        function currentDate() {
            return moment(); //return current datetime
        };

        function clientDateStringFromDate(date) {
            return moment(date).format('MM/DD/YYYY');   //converts a date object to a given formate
        };

    </script>
}
