@model Playground.Mvc.Models.EmployeeViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)

        @Html.HiddenFor(model => model.EmpID)
        @Html.HiddenFor(model => model.EmpName)
        @Html.HiddenFor(model => model.EmpHireDate)
        @Html.HiddenFor(model => model.EmpGender)

        <div class="form-group">
            @Html.LabelFor(model => model.EmpName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.EmpName, new { disabled = "disabled", @readonly = "readonly" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EmpEmail, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EmpEmail)
                @Html.ValidationMessageFor(model => model.EmpEmail)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EmpPhone, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EmpPhone)
                @Html.ValidationMessageFor(model => model.EmpPhone)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EmpSalary, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EmpSalary)
                @Html.ValidationMessageFor(model => model.EmpSalary)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EmpHireDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.EmpHireDate, new { disabled = "disabled", @readonly = "readonly" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EmpGender, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.EmpGender, new { disabled = "disabled", @readonly = "readonly" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EmpStatus, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.EmpStatus, new SelectList(ViewBag.EmployeeStatus, "Value", "Text"))
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>